.search{
    position: relative;

    width: calc(100% - 315px);
    margin-top: 25px;
    left: 290px;
    transition: .3s ease;
    
    
}
.search__form{
    height: 42px;
    background: #2C2F33;
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    // font-family: var(--lato);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 16px;

}
.search__form input{
    border: none;
    background: #2C2F33;
	outline: none;
    width: 85%;
    font-size: 15px;

}
.search__form--profile{
    width: 33px;
    height: 33px;
	object-fit: cover;
	border-radius: 50%;
    

}


// .search{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     // flex-direction: column;
//     // height: 300px;
//     border-radius: 0px 0px 40px 40px;
//     position: relative;
//     background: #2C2F33;
// }

// .search{
//     background: #2C2F33;
//     border-radius: 16px;
//     width: 1160px;
//     display: flex;
//     position:absolute;
//     left: calc(210px);
// }
// .search form {
//     background-color: #2C2E33;
//     border-radius: 20px;
//     margin:25px;
//     margin-right: 50px;
//     height: 50px;
//   }
  
  
  .search svg {
    cursor: pointer;
  }
  .search a{
      display: flex;
      align-items: center;
  }
  
//   .search input {
//     background-color: transparent;
//     border-color: transparent;
  
//     position: fixed;
  
//     // height: 40px;
//     // width:60%;
//     margin: 5px;
//   }
  
//   .bi.bi-bell {
//     position: fixed;
//     right: 115px;
//   }
  
//   .search img {
//     position: fixed;
//     right: 75px;
  
//     border-radius: 50%;
//     width: 30px;
//     height: 30px;
//     margin: 10px;
//     border-left:300px;
  
//   }