@import "../Vars.scss";
@import "../Media.scss";

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    background: #2c2f33;
    z-index: 2000;
    transition: 0.3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
    border-radius: 24px;
    margin: 25px;
    margin-left: 25px;
}

// .sidebar {
//     fill: currentColor;
//     color: red;
//     background: #2c2f33;
//     border-radius: 24px;
//     // height: 94%;
//     width: 232px;
//     // width: 30%;
//     height: 836px;
//     position: fixed;
//     // position: relative;
//     z-index: 1;
//     // top: -40px;
//     top:0px;
//     left: 0;
//     // background-color: #2d2f33;
//     // border-radius: 20px;
//     overflow-x: hidden;

//     margin: 25px;
//     margin-left: 25px;

// }

.sidebar__img {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.sidebar__info {
    color: green;
    fill: currentColor;
}
i {
    margin-right: 10px;
}
.sidebar__info--img {
    margin: 10px 10px 10px 25px;
}

.sidebar a {
    text-decoration: none;
    color: $neutral-2;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 25px;
    // justify-content: center;
}
// .sidebar a {
//     padding: 6px 8px 6px 16px;
//
//     font-size: 20px;
//     color: #818181;
//     // display: block;
// }

.sidebar a:hover {
    color: $primary-4;
    background: linear-gradient(90deg, rgba(45, 47, 51, 1) 0%, #383034 100%);
}
.sidebar__info--img {
    color: $primary-4;
}
// .sidebar__info--img {
//     display: block;
//     margin-top: 10px;
//     margin-bottom: 10px;
//     margin-left: auto;
//     margin-right: auto;
// }

// .main {
//     margin-left: 160px; /* Same as the width of the sidenav */
//     font-size: 28px; /* Increased text to enable scrolling */
//     padding: 0px 10px;
// }
