.search{
    position: relative;

    width: calc(100% - 315px);
    margin-top: 25px;
    left: 290px;
    transition: .3s ease;
    
    
}
.search__form{
    height: 42px;
    background: #2C2F33;
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 16px;

}
.search__form input{
    border: none;
    background: #2C2F33;
	outline: none;
    width: 85%;
    font-size: 15px;

}
.search__form--profile{
    width: 33px;
    height: 33px;
	object-fit: cover;
	border-radius: 50%;
    

}


  .search svg {
    cursor: pointer;
  }
  .search a{
      display: flex;
      align-items: center;
  }
