@import "./Vars.scss";

body {
    margin: 0;
    font-family: $theme-font;
    background-color: $neutral-5;
        /* Desktop/Body/M/bold */
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 80%;

  }
  