// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

// Font Variables
$theme-font: 'SF Pro Display','Muli', sans-serif;


// Color Variables
$neutral-5: #222528;
$neutral-4: #2C2F33;
$neutral-2: #94979A;
$neutral-1: #FFFFFF;
$primary-4: #DA584B;
$secondary-4: #70B252;
$tertiary-4: #E5B454;