
@import "../../assets/styles/Vars.scss";

.table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
    background-color: #2c2f33;
    color: $neutral-2;
}
.table-data  table {
	width: 100%;
	border-collapse: collapse;
}

.table-data  table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid gray;
}
.table-data  table td {
	padding: 16px 0;
}
.table-data  table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
.table-data  table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
.table-data  table tbody tr:hover {
	background: gray;
}
.table-data  table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: white;
	border-radius: 20px;
	font-weight: 700;
}
.table-data  table tr td .status.completed {
	background: blue;
}
.table-data  table tr td .status.process {
	background: yellow;
}
.table-data  table tr td .status.pending {
	background: orange;
}

